.container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
}

.full-width {
  width: 100%;
  margin-bottom: 15px;
}

.separacion {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}